PORT=8000
DB_URL=mongodb+srv://username:password@cluster0.mongodb.net/eshop?retryWrites=true&w=majority
JWT_SECRET_KEY=eshop_secret_jwt_key_2026_super_secure
JWT_EXPIRES=7d
ACTIVATION_SECRET=eshop_activation_token_secret_key_2026
SMPT_HOST=smtp.gmail.com
SMPT_PORT=465
SMPT_PASSWORD=your_gmail_app_password
SMPT_MAIL=your_email@gmail.com
SMPT_SERVICE=gmail
STRIPE_API_KEY=pk_test_sample_key
STRIPE_SECRET_KEY=sk_test_sample_key
CLOUDINARY_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
FRONTEND_URL=http://localhost:3000
